@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-border;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-body);
  font-weight: var(--font-weight-body, 400);
}
/* CONTAINER */
.content-grid {
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
  /* display: grid; */
  /*  grid-template-columns: inherit; */
}

.content-grid > picture.full-width {
  grid-column: full-width;
  display: block;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
.text-heading {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading, 700);
}

h1,
h2,
h3 {
  @apply tracking-tighter;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

.richtext {
  h1,
  h2,
  h3,
  h4 {
    bold,
    b,
    strong {
      @apply block pb-2 text-xl font-normal uppercase leading-none tracking-widest opacity-70;
    }
  }

  * + *:not(svg, use, pah, a, li, a *) {
    @apply pt-4;
  }
  h1 {
    @apply text-5xl md:text-6xl;
    text-wrap: balance;
  }
  h2 {
    @apply text-4xl sm:text-5xl;
    text-wrap: balance;
  }
  h3 {
    @apply text-3xl sm:text-4xl;
    text-wrap: balance;
  }
  h4 {
    @apply text-2xl sm:text-3xl;
    text-wrap: balance;
  }
  h5 {
    @apply text-xl sm:text-2xl;
    text-wrap: balance;
  }
  p:first-of-type:not(li p) {
    @apply uppercase tracking-widest;
  }

  a:not([class]) {
    @apply relative origin-left truncate after:absolute after:-inset-x-1 after:inset-y-0 after:z-[-1] after:origin-bottom after:scale-x-100 after:scale-y-100 after:transform after:bg-secondary after:opacity-50 after:bg-blend-overlay after:transition-all after:duration-300 after:content-[''] hover:after:translate-y-0.5 hover:after:scale-y-[0.2];
  }

  ul,
  ol {
    @apply grid grid-cols-1 gap-2 text-balance pl-5 marker:text-xl marker:font-bold;
  }

  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }

  &.text-center {
    ul,
    ol {
      @apply mx-auto max-w-md text-left;
    }
  }
}
.surface-secondary {
  .richtext {
    a:not([class]) {
      @apply after:bg-primary;
    }
  }
}

/* BUTTONS, LINKS & NAVIGATION */
.btn {
  @apply inline-flex min-h-10 max-w-full items-center gap-2 rounded-3xl px-4 py-1 uppercase transition-all duration-300;
  &:not([class^="surface-"]) {
    @apply bg-primary text-primary-foreground;
  }
  &-sm {
    @apply inline-flex max-w-full items-center gap-2 rounded-2xl px-4 py-1 text-sm uppercase transition-all duration-300;
    &:not([class^="surface-"]) {
      @apply bg-primary text-primary-foreground;
    }
  }

  &-dark {
    @apply bg-dark;
  }
  &-icon {
    @apply grid aspect-square min-h-3 place-items-center rounded-full p-2;
    line-height: 1 !important;
  }
}

[data-is-scrolling-up="false"][data-is-top="false"] {
  header {
    @apply -translate-y-full;
  }
}

/* SURFACES */

.surface {
  &-primary {
    @apply bg-primary text-primary-foreground;

    .btn:not([class^="surface-"]) {
      @apply bg-secondary text-secondary-foreground;
    }

    .btn-small:not([class^="surface-"]) {
      @apply bg-secondary text-secondary-foreground;
    }
  }
  &-secondary {
    @apply bg-secondary text-secondary-foreground;
  }
  &-accent {
    @apply bg-accent text-accent-foreground;
  }
  &-warning {
    @apply bg-warning text-warning-foreground;
  }
  &-success {
    @apply bg-success text-success-foreground;
  }
  &-danger {
    @apply bg-danger text-danger-foreground;
  }
  &-muted {
    @apply bg-muted/30;
  }
  &-info {
    @apply bg-info text-info-foreground;
  }
  &-dark {
    @apply bg-dark text-dark-foreground;
  }
  &-light {
    @apply bg-light text-light-foreground;
  }
}
/* UTILS */
.offscreen {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.backface-hidden {
  backface-visibility: hidden;
}

/* Animaions */

.fade-up {
  @apply transition-all duration-500 ease-in;
  animation-delay: var(--animation-delay);
}

.is-inactive {
  &.fade-up,
  .fade-up {
    @apply translate-y-5;
  }
}

[data-is-scrolling-up="true"] .is-inactive {
  &.fade-up,
  .fade-up {
    @apply -translate-y-5;
  }
}

.out-of-screen {
  &.fade-up,
  .fade-up {
    @apply opacity-80;
  }
}

/* DRAWER CSS */
[vaul-drawer] {
  touch-action: none;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}
[vaul-drawer][vaul-drawer-direction="bottom"] {
  transform: translate3d(0, 100%, 0);
}
[vaul-drawer][vaul-drawer-direction="top"] {
  transform: translate3d(0, -100%, 0);
}
[vaul-drawer][vaul-drawer-direction="left"] {
  transform: translate3d(-100%, 0, 0);
}
[vaul-drawer][vaul-drawer-direction="right"] {
  transform: translate3d(100%, 0, 0);
}
.vaul-dragging .vaul-scrollable [vault-drawer-direction="top"],
.vaul-dragging .vaul-scrollable [vault-drawer-direction="bottom"] {
  overflow-y: hidden !important;
}
.vaul-dragging .vaul-scrollable [vault-drawer-direction="left"],
.vaul-dragging .vaul-scrollable [vault-drawer-direction="right"] {
  overflow-x: hidden !important;
}
[vaul-drawer][vaul-drawer-visible="true"][vaul-drawer-direction="top"],
[vaul-drawer][vaul-drawer-visible="true"][vaul-drawer-direction="bottom"] {
  transform: translate3d(0, var(--snap-point-height, 0), 0);
}
[vaul-drawer][vaul-drawer-visible="true"][vaul-drawer-direction="left"],
[vaul-drawer][vaul-drawer-visible="true"][vaul-drawer-direction="right"] {
  transform: translate3d(var(--snap-point-height, 0), 0, 0);
}
[vaul-overlay] {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}
[vaul-overlay][vaul-drawer-visible="true"] {
  opacity: 1;
}
[vaul-drawer]:after {
  content: "";
  position: absolute;
  background: inherit;
  background-color: inherit;
}
[vaul-drawer][vaul-drawer-direction="top"]:after {
  top: initial;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 200%;
}
[vaul-drawer][vaul-drawer-direction="bottom"]:after {
  top: 100%;
  bottom: initial;
  left: 0;
  right: 0;
  height: 200%;
}
[vaul-drawer][vaul-drawer-direction="left"]:after {
  left: initial;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 200%;
}
[vaul-drawer][vaul-drawer-direction="right"]:after {
  left: 100%;
  right: initial;
  top: 0;
  bottom: 0;
  width: 200%;
}
[vaul-overlay][vaul-snap-points="true"]:not(
    [vaul-snap-points-overlay="true"]
  ):not([data-state="closed"]) {
  opacity: 0;
}
[vaul-overlay][vaul-snap-points-overlay="true"]:not(
    [vaul-drawer-visible="false"]
  ) {
  opacity: 1;
}
@keyframes fake-animation {
}
@media (hover: hover) and (pointer: fine) {
  [vaul-drawer] {
    -webkit-user-select: none;
    user-select: none;
  }
}
