---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import Link from "@components/navigation/Link.astro"; 
interface Props {
  blok: TextMediaStoryblok;
}

const { blok } = Astro.props;

const { content, surface, align, links } = blok;

const renderedRichText = renderRichText(content);
---

  <div
  {...storyblokEditable(blok)}
    class={`${surface || ""} intersecting`}
>
  <div class="content-grid">
    <div
      class={`richtext max-w-3xl ${align || ""} scale-in grid h-fit grid-cols-1 gap-8 py-14 md:py-20`}
    >
      <div set:html={renderedRichText} class="text-ellipsis" />

      {
        links && links.length > 0 && (
          <div class="inline-flex flex-wrap gap-4">
            {links.map((link) => (
              <Link
                blok={{
                  ...link,
                }}
              />
            ))}
          </div>
        )
      }
    </div>
  </div>
</div>
